// ==================================== 
// paticka 
// ==================================== 

%hp_boxes{
    @include clearfix;
    padding: 10px 10px 0 10px;
    cursor: pointer;
}

.hp_boxes__item{
    display: block;
    height: 160px;
    float: left;
    position: relative;
    margin-right: 9px;
}

.hp_boxes__item_last{
    margin-right: 0 !important;
}

.hp_boxes__title{
    height: 43px;
    line-height: 43px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.hp_boxes__link{
    color: white;
    font-family: "Museo-300";
    font-size: 20px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.19);
}

.hp_boxes_first{
    @extend %hp_boxes;

    .hp_boxes__item{
        width: 228px;
    }

    .hp_boxes__item_1{
        background: url("../img/box_1_1.png") no-repeat 0;
    }
    .hp_boxes__item_2{
        background: url("../img/box_1_2.png") no-repeat 0;
    }
    .hp_boxes__item_3{
        background: url("../img/box_1_3.png") no-repeat 0;
    }
    .hp_boxes__item_4{
        background: url("../img/box_1_4.png") no-repeat 0;
    }
}

.hp_boxes_second{
    @extend %hp_boxes;   
    
    .hp_boxes__item{
        width: 300px;
        height: 140px;
    }

    .hp_boxes__catalog{
        width: 320px;
    }

    .hp_boxes__download{
        display: block;
        @include size( 207px 45px );
        @include position( absolute, 70px 0 0 60px );
        background: url("../img/bg_download.png") no-repeat 0 0;
        padding-left: 60px;
        line-height: 45px;
        font-size: 18px;
        text-shadow: -1px -1px 0 rgba(0,0,0,.19);
        color: white;

        &:after{
            display: block;
            content: "";
            @include size( 33px 34px );
            background: url("../img/ico_pdf.png");
            @include position( absolute, 6px 0 0 9px );
        }
    }

    .hp_boxes__item_1{
        background: url("../img/box_2_1.png") no-repeat 0;
    }
    .hp_boxes__item_2{
        background: url("../img/box_2_2.png") no-repeat 0;
    }
    .hp_boxes__item_3{
        background: url("../img/box_2_3.png") no-repeat 0;
    }

}