// ==================================== 
// obsahove prvky na homepage
// ==================================== 

.hp_content_area{
    padding: 10px 10px 0 10px;
    @include clearfix;
}

.hp_content_area__title{
    font-size: 24px;
    font-family: "Museo-500";
    margin: 0 0 15px 0;
    padding: 0;
}

.hp_content_area__left{
    @include size( 300px );
    float: left;
    margin-right: 10px;

    .hp_content_area__box{
        padding: 15px;
        border-radius: 2px;
    }

    .hp_box_why{
        height: 160px;
        background: #E0E0DF;
        margin-bottom: 10px;

        .hp_content_area__title{
            color: #88898A;
        }

        li{
            height: 22px;
            margin-bottom: 12px;
            @include clearfix;
            line-height: 22px;
            color: #666667;
        }

        span{
            display: block;
            float: left;
            @include size( 22px );
            background: #A6A4A1;
            color: white;
            border-radius: 22px;
            text-align: center;
            line-height: 22px;
            margin-right: 10px;
        }
    }

    .hp_box_contact{
        height: 130px;
        background: #E3EEF2;

        .hp_content_area__title{
            color: #92ABB6;
        }

        li{
            height: 23px;
            margin-bottom: 12px;
            @include clearfix;
            line-height: 23px;
            color: #666667;
            padding-left: 33px;
        }

        a{
            color: #666667;
            text-decoration: underline;
        }

        .hp_box_content__email{
            font-size: 18px;
            background: url("../img/ico_email.png") no-repeat 0 0;
        }

        .hp_box_content__phone{
            font-size: 22px;
            background: url("../img/ico_phone.png") no-repeat 0 0;
        }
    }
}


.hp_content_area__right{
    @include size( 627px 300px );
    float: left;
    background: yellow;

    .hp_content_area__title{
        color: #8EA7B3;
    }

    .hp_content_area__box{
        height: 300px;
        background: #ECEFEF;
        border-radius: 2px;
        padding: 15px 20px;
    }
}

.hp_box_list__item{
    margin-bottom: 20px;
    p{
        margin: 0 0 5px 0;
        color:#818283;
        line-height: 18px;
    }
    a{
        color: #818283;
        text-decoration: underline;
    }
}

.hp_box_list__date{
    margin: 0 0 5px 0;
    color: #9E9D98;
}
