// ==================================== 
// slider / fancy slider pro obrazky 
// ==================================== 

.slider{
    @include size( 960px 340px );
    overflow: hidden;
    position: relative;
}

.slider__text{
    width: 360px;
    @include position( absolute, 20px 0 0 30px );
    font-size: 30px;
    color: white;
    font-family: "Museo-300";

    p{
        margin: 0;
    }
}

// ==================================== 
// cenovka
// ==================================== 

.slider__price{
    @include size( 300px 65px );
    @include position( absolute, 240px 0 0 40px );
    margin: 0;
    padding: 0;
    list-style: none;

    li{
        @include inline-block;
    }
}

.slider__price__value{
    @include size( 160px 65px );
    @include position( absolute, 0px 0 0 0px );
    border-radius: 2px;
    background-color: #9D1622;
    line-height: 65px;
    padding-left: 15px;
    font-size: 36px;
    color: white;
    z-index: 20;

    // designova sipka
    &:after{
        @include size( 0px );
        @include position( absolute, 50% 0 0 141px );
        display: block;
        content: "";
        border-style: solid;
        border-width: 18px 19px 18px 0;
        border-color: transparent #97b0bb transparent transparent;
        margin-top: -19px;
        z-index: 40;
    }

}

.slider__price__link{
    @include size( 140px 65px );
    @include position( absolute, 0px 2px 0 0 );
    background-color: #97B0BB;
    padding-left: 25px;
    line-height: 65px;
    font-size: 20px;
    color: white;
    z-index: 10;
    font-family: "Museo-300";
    text-shadow: -1px -1px 0 rgba(0,0,0,.19);
    font-weight: normal;

    a{
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;
    }
}