// ==================================== 
// clanky a seznamy
// ==================================== 

.article__list{

}

.article__list__item{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #E5EBE0;
}

.article__list__link{
    background: url("../img/list_arrow.png") no-repeat 0 center;
    padding-left: 20px;
}

.article__list__item,
.article__list__link{
    font-size: 13px;
    font-weight: bold;
    color: #676768;
}

.article__list__link_active{
    color: #6a8f41;
}

.article__title{
    color: #8da7b3;
    font-size: 28px;
    font-family: "Museo-500";
    margin: 0;
    font-weight: normal;
    margin-bottom: 20px;
}

.article__perex{
    color: #676768;
    p{
        font-size: 15px;
        line-height: 22px;
        font-weight: bold;
        font-style: italic;
    }
}

.article{
    padding: 0 25px;
    color: #676768;

    h2, h3, h4{
        margin: 0;
        padding: 0;
        font-family: "Museo-500";
    }
    h2{
        color: #8da7b3;
        font-size: 20px;
        margin-bottom: 20px;
    }
    h3{
        color: #504f4d;
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    h4{
        color: #504f4d;
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: bold;        
    }

    p{
        font-size: 14px;
        line-height: 20px;
    }
    ul{
        margin-left: 40px;
    }
    li{
        font-size: 14px;
        margin-bottom: 10px;
        background: url("../img/article_arrow.png") no-repeat 0 7px;
        padding-left: 15px;
    }
    a{
        color: #6a8f41;
        text-decoration: underline;
    }
    cite{
        background: #F1F6F8 url("../img/article_cite_1.png") no-repeat 20px 20px;
        padding: 25px;
        width: 360px;
        font-size: 16px;
        line-height: 22px;
        font-family: "Museo-500";
        color: #8da7b3;
        text-indent: 20px;
    }
    .float_left{
        float: left;
        margin: 0 25px 25px 0;
    }
    .float_right{
        float: right;
        margin: 0 0 25px 25px;
    }
}

ul.article__actions{
    @include clearfix;
    padding: 30px 20px;
    background: url("../img/article_action.png") repeat-x 0 0;
    margin: 80px 0 0 0;
}

li.article__actions__item{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    margin-right: 40px;
    background-position: 0 0;
}

li.article__actions__item_email{
    @extend .article__actions__item;
    background-image: url("../img/ico_mail.png");
}

li.article__actions__item_print{
    @extend .article__actions__item;   
    background-image: url("../img/ico_print.png");
}

a.article__actions__link{
    color: #63737a;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}