// ==========================================
// drobeckova navigace
// ==========================================

.breadcrumbs{
    @include clearfix;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.breadcrumbs__item,
.breadcrumbs__link,
.breadcrumbs__current{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #676768;
}

.breadcrumbs__link{    
    padding-right: 20px;
    background: url("../img/bread_arrow.png") no-repeat right center;
    margin-right: 5px;
    text-decoration: underline;

    &:hover{
        text-decoration: none;
    }
}

.breadcrumbs__current{
    font-weight: normal;
    color: #8ea480;
}