// ==================================== 
// seznam zbozi
// ==================================== 

.commodity_list{
    @include clearfix;
    margin: 10px 12px 0 10px;
    padding: 25px;
    min-height: 380px;
    _height: 380px;
    background: url("../img/bg_commodity_list.png") repeat-x 0 0;
}

.commodity_list__title{
    font-family: "Museo-500";
    font-size: 28px;
    color: #8da7b3;
    margin: 0;
    margin-bottom: 20px;
}

// ==================================== 
// zbozi ve vypisu
// ====================================         

.commodity{
    width: 295px;
    float: left;
    border-left: 1px solid #EFF2F3;
}

.commodity_last{
    border-right: 1px solid #EFF2F3;
}

.commodity__title{
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #2c2d2d;

    a{
        color: inherit;
    }
}

.commodity__pic{
    width: 295px;
    height: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.commodity__price{
    @include clearfix;
    height: 25px;
    margin-top: 10px;
}

.commodity__price__item{
    display: inline-block;
    width: 49%;
    height: 25px;
    line-height: 25px;
}

.commodity__price__item_old{
    @extend .commodity__price__item;
    text-align: right;
    padding-right: 6px;
    text-decoration: line-through;
    font-size: 14px;
    color: #707071;
}

.commodity__price__item_current{
    @extend .commodity__price__item;
    text-align: left;
    padding-left: 6px;
    font-size: 18px;
    font-weight: bold;
    color: #9b1c21;
}

// ==================================== 
// ovladaci prvky pro slider na titulce
// ====================================

.commodity_list__navigation{
    width: 100%;
    height: 280px;
    position: relative;
}

.commodity_list__navigation__item{
    display: block;
    width: 12px;
    height: 17px;
    position: absolute;
    top: 150px;
    overflow: hidden;
    text-indent: -999px;
    background-repeat: no-repeat;
    background-position: center center;
}

.commodity_list__navigation__item_prev{
    @extend .commodity_list__navigation__item;
    left: -20px;
    background-image: url("../img/commodity_prev.png");
}

.commodity_list__navigation__item_next{
    @extend .commodity_list__navigation__item;
    right: -20px;
    background-image: url("../img/commodity_next.png");
}