// ====================================
// detail zbozi
// ====================================

.detail__title{
    color: #8da7b3;
    font-size: 32px;
    font-family: "Museo-500";
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 25px;
}

.detail_layout{
    @include clearfix;
    min-height: 580px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 25px;
}

// ====================================
// galerie
// ====================================

.detail_gallery{
    width: 580px;
    min-height: 580px;
    background: white;
    float: left;
}

.detail_gallery__large{
    width: 570px;
    height: 420px;
    margin: 0 5px;
    border-bottom: 1px solid #EFF2F3;
}

.detail_badge{
    display: none;
}

.detail_gallery_list{
    @include clearfix;
    height: 110px;
    padding: 5px;
    margin-top: 30px;
}

.detail_gallery_list__item,
.detail_gallery_list__item a{
    display: block;
    width: 102px;
    height: 102px;

    //border: 1px solid black;
    float: left;
    margin-right: 10px;
    background: white;
}

// ====================================
// informace o produktu
// ====================================

.detail_info{
    width: 360px;
    height: 580px;
    background: url("../img/detail_info.png") repeat-y 0 0;
    float: left;
}

.detail_data{
    margin: 0;
    padding: 30px 30px 0 30px;
    li{
        @include clearfix;
        margin-bottom: 15px;
    }
    h4, p{
        display: inline-block;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    h4{
        width: 115px;
        color: #6d6d6e;
        font-size: 13px;
    }
    p{
        color: #565657;
        font-size: 14px;
    }
    .availability{
        color: #6a8f41;
        font-size: 14px;
        font-weight: bold;
    }
    .discount{

    }
    .price{
        color: #9b1c21;
        font-size: 22px;
    }
}

.detail_data_2{
    padding-top: 15px;
}

.detail_counter{
    height: 110px;
    background: url("../img/detail_counter.png") no-repeat 0 0;
    margin: 10px 0;
    margin: 20px 0;
    position: relative;
}

.detail_counter__text,
.detail_counter__input,
.detail_counter__button{
    position: absolute;
}

.detail_counter__text{
    left: 33px;
    top: 43px;
    margin: 0;
    color: #6c6c6d;
    font-family: "Trebuchet MS";
    font-size: 13px;
}

.detail_counter__input{
    width: 50px;
    height: 38px;
    left: 111px;
    top: 31px;
    background: url("../img/counter_input.png") no-repeat 0 0;

    .in_text{
        width: 50px;
        height: 38px;
        border: 0px;
        background: transparent;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
}

.detail_counter__button{
    left: 170px;
    top: 31px;

    .in_btn{
        width: 102px;
        height: 38px;
        background: url("../img/counter_btn.png") no-repeat 0 0;
        border: 0;
        cursor: pointer;
    }
}

.detail_actions{
    margin: 30px;
    border-top: 1px solid #E4E8E1;
    padding-top: 20px;
}

.detail_actions__item{
    list-style: none;
    margin-bottom: 10px;
    a{
        display: block;
        height: 30px;
        line-height: 30px;
        color: #627279;
        font-family: "Trebuchet MS";
        font-size: 14px;
        font-weight: bold;
        padding-left: 40px;
    }
}

.detail_actions_mail,
.detail_actions_print{
    @extend .detail_actions__item;
}

.detail_actions_mail{
    background: url("../img/ico_mail.png") no-repeat 0 0;
}
.detail_actions_print{
    background: url("../img/ico_print.png") no-repeat 0 0;
}

// ====================================
// zalozky
// ====================================

.detail_related_list{
    border-bottom: 5px solid #8EA8B4;
}

.detail_related_list__item{
    display: inline-block;
    background: #D9E8EE;
    padding: 10px 30px;
    color: #70848d;
    font-family: "Museo-500";
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
    border-radius: 4px 4px 0 0;
}

.detail_related_list__item.active{
    background: #98B0BB;
    color: white;
}
