/* ==================================== */
/* fonty */
/* ==================================== */

@font-face {
	font-family: "MuseoSans-300";
	src: url('fonts/museo/museosans300.eot');
	src: url('fonts/museo/museosans300.svg') format('svg'),
		 url('fonts/museo/museosans300.eot?#iefix') format('embedded-opentype'),
		 url('fonts/museo/museosans300.woff') format('woff'),
		 url('fonts/museo/museosans300.ttf') format('truetype');		 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans-500";
	src: url('fonts/museo/museosans500.eot');
	src: url('fonts/museo/museosans500.eot?#iefix') format('embedded-opentype'),
		 url('fonts/museo/museosans500.woff') format('woff'),
		 url('fonts/museo/museosans500.ttf') format('truetype'),
		 url('fonts/museo/museosans500.svg#museosans500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans-700";
	src: url('fonts/museo/museosans700.eot');
	src: url('fonts/museo/museosans700.eot?#iefix') format('embedded-opentype'),
		 url('fonts/museo/museosans700.woff') format('woff'),
		 url('fonts/museo/museosans700.ttf') format('truetype'),
		 url('fonts/museo/museosans700.svg#museosans700') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo-300";
	src: url('fonts/museo/museo300.eot');
	src: url('fonts/museo/museo300.eot?#iefix') format('embedded-opentype'),
		 url('fonts/museo/museo300.woff') format('woff'),
		 url('fonts/museo/museo300.ttf') format('truetype'),
		 url('fonts/museo/museo300.svg#museosans300') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo-500";
	src: url('fonts/museo/museo500.eot');
	src: url('fonts/museo/museo500.eot?#iefix') format('embedded-opentype'),
		 url('fonts/museo/museo500.woff') format('woff'),
		 url('fonts/museo/museo500.ttf') format('truetype'),
		 url('fonts/museo/museo500.svg#museosans500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Museo-700";
	src: url('fonts/museo/museo700.eot');
	src: url('fonts/museo/museo700.eot?#iefix') format('embedded-opentype'),
		 url('fonts/museo/museo700.woff') format('woff'),
		 url('fonts/museo/museo700.ttf') format('truetype'),
		 url('fonts/museo/museo700.svg#museosans700') format('svg');
	font-weight: normal;
	font-style: normal;
}