// ==================================== 
// paticka 
// ==================================== 

.footer{
    height: 220px;
    background: url("../img/footer_bg.png") repeat-x 0 0;
    margin-top: 10px;
    padding: 25px 10px 10px 10px;
}

%footer_box{
    @include clearfix;
    float: left;
    min-height: 177px;
    padding: 0 10px;
}

%footer_box__title{
    font-size: 20px;
    font-family: "Museo-300";
    color: #8EA7B3;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

// ==================================== 
// informace v paticce / odkazy
// ==================================== 

.footer_info{
    @extend %footer_box;
    width: 260px;
}

.footer_info__title{
    @extend %footer_box__title;
}

.footer_info__links__item{
    padding-left: 15px;
    margin-bottom: 8px;
    font-size: 13px;
    background: url("../img/footer_bullet.png") no-repeat 0 center;
}

.footer_info__links__link{
    color: #454646;
    text-decoration: underline
}

// ==================================== 
// newsletter v paticce
// ==================================== 

.footer_newsletter{
    @extend %footer_box;
    width: 330px;
}

.footer_newsletter__title{
    @extend %footer_box__title;
}

.footer_newsletter__perex{
    color: #6f7071;
    font-size: 13px;
    line-height: 18px;
}

.footer_newsletter__form{}

.footer_newsletter__text{
    @include size( 268px 37px );
    background: url("../img/newsletter_bg.png") no-repeat 0 0;

    .in_text{
        border: 0;
        width: 255px;
        padding: 5px;
        margin-left: 5px;
        margin-top: 6px;

        &:focus{
            outline: none;
        }
    }
}

.footer_newsletter__btn{
    .in_btn{
        @include size( 98px 30px );
        background: url("../img/newsletter_btn.png") no-repeat 0 0;
        border: 0;
        text-align: left;
        padding-left: 14px;
        margin-left: 170px;
        margin-top: 5px;
        font-size: 16px;
        font-family: "Museo-500";
        color: white;
        cursor: pointer;
    }
}

// ==================================== 
// paticka / sekundarni
// ==================================== 

.footer_web{
    @include size( 960px 170px );
    @include clearfix;
    text-align: left;
    margin: 0 auto;

    p{
        font-size: 13px;
        color: #5c5c5d;
    }
    a{
        color: #5c5c5d;
        //text-decoration: underline;
    }
}

.footer_web__copyright{
    width: 50%;
    float: left;
}

.footer_web__links{
    width: 50%;
    float: left;
    text-align: right;

    a{
        text-decoration: underline;
    }
}