// ==================================== 
// obecne nastaveni pro web 
// ==================================== 

html{ 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

html, 
body{ 
	height: 100%;
}

body{
	text-align: center;
    margin: 0;
    padding: 0;
}

body.layout_homepage{
    background: #B5C4AC url("../img/bg.png") no-repeat center 0;
}

body.layout_page{

}

// ==================================== 
// zakladni formatovani HTML tagu
// ==================================== 

html, 
body, 
button, 
input, 
select, 
textarea{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	color: #222;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hide{
	display: none;
}

a{
    text-decoration: none;
    &:hover{ text-decoration: underline; }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

// ==================================== 
// obalka webu / sirka layoutu
// ==================================== 

.envelope{
    width: 960px;
    margin: 0 auto;
	text-align: left;
    background-color: white;
}