// ==================================== 
// hlavicka 
// ==================================== 

.header{
    @include clearfix;
    position: relative;
    height: 140px;
    background: white;
    border-radius: 0 0 2px 2px;
}

.logo{
    @include size( 253px 46px ); 
    @include position( absolute, 27px 0 0 20px );  
}

// ==================================== 
// hledani
// ==================================== 

.header__search{
    @include size( 268px 37px );
    @include position( absolute, 22px 0 0 347px );
    background: url("../img/search_bg.png") no-repeat 0 0;
}

.header__search__text{
    @include position( absolute, 8px 0 0 14px );
    .in_text{
        font-size: 14px;
        color: #88898A;
        border: 0px;
        background-color: transparent;
        width: 200px;

        &:focus{
            outline: none;
        }
    }
}

.header__search__btn{
    @include position( absolute, 4px 3px 0 0 );
    .in_btn{
        @include size( 32px 29px );
        border: 0;
        background: url("../img/search_btn.png") no-repeat 0 0;
        text-indent: -200px;
        overflow: hidden;
        cursor: pointer;
    }
}

// ==================================== 
// uzivatelske menu v hlavicce
// ==================================== 

.header__menu_user{
    @include clearfix;
    @include position( absolute, 25px 22px 0 0 );
}

.header__menu_user__item{
    @include inline-block;
}

.header__menu_user__link{
    display: block;
    font-size: 14px;
    color: #63737A;
    margin-left: 14px;
}

// ==================================== 
// uzivatelske menu - kosik
// ==================================== 

.header__cart__link{
    position: relative;
    padding-right: 23px;
    background: url("../img/ico_cart.png") no-repeat right 0;
}

.header__cart__counter{
    @include size( 16px );
    @include position( absolute, 10px -8px 0 0 );
    display: block;
    background-color: #9A1521;
    color: white;
    text-align: center;
    border-radius: 16px;
    font-size: 10px;
    line-height: 16px;
}

// ==================================== 
// hlavni menu webu
// ==================================== 

.header__menu{
    @include size( 940px 50px );
    @include position( absolute, 80px 0 0 10px );
    margin: 0;
    padding: 0;
    background-color: #91AAB6;
    overflow: hidden;
    list-style: none;
    border-radius: 2px;
}

.header__menu__item{
    @include inline-block;
}

.header__menu__link{
    height: 50px;
    line-height: 55px;
    padding: 0 20px;
    display: block;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 rgba(0,0,0,.19);
    font-family: "Museo-500";
}