// ====================================
// rozlozeni stranky
// ====================================

.page_normal{
    @include clearfix;
    min-height: 600px;
    _height: 600px;
    background: white;
    padding: 0 10px;
    padding-bottom: 100px;
}

// ====================================
// levy sloupec
// ====================================

.aside_area{
    width: 220px;
    //padding-bottom: 150px;
    float: left;
    margin-right: 15px;
}

.aside{
    padding: 15px;
    background: #F0F4EC;
    margin-bottom: 10px;
}

.aside__title,
.aside__category__title{
    margin: 0;
    padding: 0;
}

.aside__title{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Museo-500";
    color: #8ea480;
}

.aside__category__title{
    margin-bottom: 10px;
    color: #6a8f41;
    font-size: 14px;
    font-weight: bold;
}

.aside__list{
    margin-bottom: 20px;
}

.aside__list__item{
    margin-bottom: 5px;
    color: #565657;
    font-size: 13px;

    span{
        color: #858586;
    }
}

// ====================================
// bannery v levem sloupci
// ====================================

.aside_banner{
    font-size: 0px;
    margin-bottom: 10px;
}


// ====================================
// vypis zbozi
// ====================================

.content_area{
    @include clearfix;
    width: 700px;
    float: left;
    padding-top: 10px;
}


.category__title{
    color: #8da7b3;
    font-size: 28px;
    font-family: "Museo-500";
    margin: 0;
    font-weight: normal;
    margin-bottom: 20px;
}

.category__filtr{
    display: none;
}

.category__list{
    .commodity{
        width: 230px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        //border: 0;
        background: url("../img/bg_commodity.png") repeat-x 0 bottom;
    }

    .commodity__pic{
        width: 230px;
    }

    .commodity__pic img{
        width: 150px;
    }
}

.category__buttons{
    margin: 15px;
    text-align: right;
}
